# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Critical information
.env

# Test Build
/build
/dist
app-config.json

# UI
*.qrc
pages/Home/resources_rc.py

# npm Dependencies
functions/node_modules/
node_modules/
*.local

# Firebase functions 
functions/

# Others
/*.txt