# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Critical information
.env

# Test Build
/build
/dist
app-config.json

# UI
*.qrc
pages/Home/Asset_home/

# npm Dependencies
functions/node_modules/
node_modules/
*.local

# Pyinstaller Spec
/ONEDIR_nt.spec
/dist/*.exe

# Other workflows
.github/workflows/release.yml

# Firebase functions 
functions/
/firebaseConfig.json

# Others
/*.txt

# Unfinished Modules
pages/Modul2

# Test files
*test*.py